.historial-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.historial-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

.historial_title {
  color: #ffffff;
  padding: 0.5%;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  width: 75%;
  margin: 0% auto 2%;
}

.historial-filter {
  width: 80%;
  max-width: 50%;
  margin-bottom: 3%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.historial-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

.historial-th {
  background-color: #3498db;
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: bold;
}

.historial-td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.historial-tr-even {
  background-color: #f2f2f2;
}

.historial-tr-odd {
  background-color: #ffffff;
}

.historial-footer {
  flex-shrink: 0;
  width: 100% !important;
  padding: 40px 20px;
  background-color: #f0f0f0;
  font-size: 1.2em;
  text-align: center;
}
