.footer {
  background-color: #0a105c;
  color: white;
  padding: 1%;
  max-width: 100%;
  margin-top: 5%;
  /* box-shadow: 0 0 10px; */
}

.footer-container {
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-bottom: 1rem;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer-section h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.25rem;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #555;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    margin-bottom: 1.5rem;
  }
}
